FileProcessing.tibco.module/Schemas/FileContent.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:tibex="http://www.tibco.com/bpel/2007/extensions" xmlns:tns="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1593395550651" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/namespaces/tnt/plugins/generalactivities/mapper/1593395550651">
  <xsd:complexType name="FileContent">
    <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="rowdata" type="xsd:string"/>
        </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="MapperInput" tibex:source="bw.generalactivities.mapper" type="tns:FileContent"/>
</xsd:schema>
